# Dissertation

Module number: BNM832

Student Name: Chayut Sangsuwan
    
Student number: 220265483

# 4. Data Processing

## 4.1 Import Raw Data and Library

In [101]:
from datetime import datetime
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns


import io
from nbformat import read, NO_CONVERT
import warnings
warnings.filterwarnings("ignore")

In [102]:
# Load the data
df = pd.read_csv("Raw_data.csv")

In [103]:
df.head()

,bullet_point,category,category_url,clickthrough_url,close_date,currency,funds_raised_amount,funds_raised_percent,image_url,is_indemand,...,price_offered,price_retail,product_stage,project_id,project_type,source_url,tagline,tags,title,is_proven
0,NaN,"Podcasts, Blogs & Vlogs",/explore/podcasts-blogs-vlogs,/projects/support-bricking-around,2017-04-30T23:59:59-07:00,AUD,75,0.075000,https://c1.iggcdn.com/indiegogo-media-prod-cld...,False,...,NaN,NaN,NaN,2077214,campaign,https://www.indiegogo.com/explore/all?project_...,This is your chance to help make Bricking Arou...,"[""youtube""]",Support Bricking Around,NaN
1,NaN,Film,/explore/film,/projects/in-access-thesis-documentary,2020-02-01T23:59:59-08:00,USD,405,0.202500,https://c1.iggcdn.com/indiegogo-media-prod-cld...,False,...,NaN,NaN,NaN,2570855,campaign,https://www.indiegogo.com/explore/all?project_...,"A film about music venues, representation and ...","[""documentary"",""students"",""short film"",""commun...",In Access Thesis Documentary,NaN
2,NaN,Productivity,/explore/productivity,/projects/germanicum-arminius-damascus-knives,2019-05-14T23:59:59-07:00,EUR,203788,24.957000,https://c1.iggcdn.com/indiegogo-media-prod-cld...,True,...,NaN,NaN,NaN,2501412,campaign,https://www.indiegogo.com/explore/all?project_...,The most sharp and durable Damascus knife seri...,"[""food"",""knives"",""kitchen""]",Germanicum Arminius Damascus knives,NaN
3,NaN,Photography,/explore/photography,/projects/photography-editorial-course-with-ni...,2015-08-30T23:59:59-07:00,GBP,25,0.027778,https://c1.iggcdn.com/indiegogo-media-prod-cld...,False,...,NaN,NaN,NaN,1380274,campaign,https://www.indiegogo.com/explore/all?project_...,Opportunity to learn all Nick has learned in h...,"[""other""]",Photography Editorial Course With Nick Knight,NaN
4,NaN,Food & Beverages,/explore/food-beverages,/projects/the-butcher-the-baker-the-wine-chees...,2012-10-28T23:59:59-07:00,USD,625,0.010870,https://c1.iggcdn.com/indiegogo-media-prod-cld...,False,...,NaN,NaN,NaN,215391,campaign,https://www.indiegogo.com/explore/all?project_...,Curated by food and wine columnist Jennifer Sc...,"[""other""]","The Butcher, The Baker, The Wine & Cheese Make...",NaN

## 4.2 Remove Duplicate data

In [104]:
df.drop_duplicates(inplace=True)

## 4.3 Remove un-nessessary column

In [105]:
# Inspect Data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143832 entries, 0 to 143831
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   bullet_point          1466 non-null    object
 1   category              143832 non-null  object
 2   category_url          143832 non-null  object
 3   clickthrough_url      143832 non-null  object
 4   close_date            142385 non-null  object
 5   currency              143832 non-null  object
 6   funds_raised_amount   143832 non-null  int64
 7   funds_raised_percent  143832 non-null  float64
 8   image_url             143832 non-null  object
 9   is_indemand           143832 non-null  bool
 10  is_pre_launch         143832 non-null  bool
 11  offered_by            0 non-null       float64
 12  open_date             142364 non-null  object
 13  perk_goal_percentage  86 non-null      float64
 14  perks_claimed         86 non-null      float64
 15  price_offered         0 non-null       float64
 16  price_retail          0 non-null       float64
 17  product_stage         18994 non-null   object
 18  project_id            143832 non-null  int64
 19  project_type          143832 non-null  object
 20  source_url            143832 non-null  object
 21  tagline               143781 non-null  object
 22  tags                  143260 non-null  object
 23  title                 143811 non-null  object
 24  is_proven             46894 non-null   object
dtypes: bool(2), float64(6), int64(2), object(15)
memory usage: 26.6+ MB

In [106]:
# Drop Column
df.drop('bullet_point', axis=1, inplace=True)
df.drop('offered_by', axis=1, inplace=True)
df.drop('price_offered', axis=1, inplace=True)
df.drop('price_retail', axis=1, inplace=True)
df.drop('category_url', axis=1, inplace=True)
df.drop('clickthrough_url', axis=1, inplace=True)
df.drop('image_url', axis=1, inplace=True)
df.drop('source_url', axis=1, inplace=True)

## 4.4 Changing Datatype & Format

### 4.4.1 Date-time

- Change "Close date" to date-time format

In [107]:
# Convert "close_date" column to datetime objects with timezone information
df['close_date'] = pd.to_datetime(df['close_date'], utc=True)

# Format "close_date" column to a desired string format
df['close_date'] = df['close_date'].dt.strftime("%Y-%m-%d %H:%M:%S %Z")

df['close_date']

0         2017-05-01 06:59:59 UTC
1         2020-02-02 07:59:59 UTC
2         2019-05-15 06:59:59 UTC
3         2015-08-31 06:59:59 UTC
4         2012-10-29 06:59:59 UTC
                   ...
143827    2022-11-19 07:59:59 UTC
143828    2022-12-23 07:59:59 UTC
143829    2021-06-22 06:59:59 UTC
143830    2022-11-24 07:59:59 UTC
143831    2021-12-07 07:59:59 UTC
Name: close_date, Length: 143832, dtype: object

- Change "Open date" to date-time format

In [108]:
# Convert "close_date" column to datetime objects with timezone information
df['open_date'] = pd.to_datetime(df['open_date'], utc=True)

# Format "close_date" column to a desired string format
df['open_date'] = df['open_date'].dt.strftime("%Y-%m-%d %H:%M:%S %Z")

df['open_date']

0         2017-03-31 21:53:38 UTC
1         2020-01-02 08:00:00 UTC
2         2019-05-14 06:59:59 UTC
3         2015-08-02 23:39:33 UTC
4         2012-08-29 19:58:06 UTC
                   ...
143827    2022-11-18 07:59:59 UTC
143828    2022-11-22 08:00:00 UTC
143829    2021-06-21 06:59:59 UTC
143830    2022-11-23 07:59:59 UTC
143831    2021-10-18 07:00:00 UTC
Name: open_date, Length: 143832, dtype: object

### 4.4.2 Format Percentage column

In [109]:
df['funds_raised_percent']

0          0.075000
1          0.202500
2         24.957000
3          0.027778
4          0.010870
            ...
143827    98.086667
143828    34.552500
143829    20.204758
143830    41.470300
143831    14.716050
Name: funds_raised_percent, Length: 143832, dtype: float64

## 4.5 Dealing with Missing value

In [110]:
# Check Missing Value
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143832 entries, 0 to 143831
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   category              143832 non-null  object
 1   close_date            142385 non-null  object
 2   currency              143832 non-null  object
 3   funds_raised_amount   143832 non-null  int64
 4   funds_raised_percent  143832 non-null  float64
 5   is_indemand           143832 non-null  bool
 6   is_pre_launch         143832 non-null  bool
 7   open_date             142364 non-null  object
 8   perk_goal_percentage  86 non-null      float64
 9   perks_claimed         86 non-null      float64
 10  product_stage         18994 non-null   object
 11  project_id            143832 non-null  int64
 12  project_type          143832 non-null  object
 13  tagline               143781 non-null  object
 14  tags                  143260 non-null  object
 15  title                 143811 non-null  object
 16  is_proven             46894 non-null   object
dtypes: bool(2), float64(3), int64(2), object(10)
memory usage: 17.8+ MB

## 4.6 Fill-in Null Data

- Fill in Column "Product Stage"

In [111]:
df["product_stage"].unique()

array([nan, 'shipping', 'prototype', 'production', 'concept'],
      dtype=object)

In [112]:
df['product_stage'].isnull().sum()

124838

In [113]:
df['product_stage'] = df['product_stage'].fillna("Non Specify")

In [114]:
df['product_stage'].isnull().sum()

0

- Fill Null in Column "is_proven" with False

In [115]:
df["is_proven"].unique()

array([nan, False, True], dtype=object)

In [116]:
df['is_proven'].isnull().sum()

96938

In [117]:
df['is_proven'] = df['is_proven'].fillna(False).astype(bool)

In [118]:
df['is_proven'].isnull().sum()

0

In [119]:
df["is_proven"].unique()

array([False,  True])

- Fill Null in Column "perks_claimed" with 0

In [120]:
df['perks_claimed'].isnull().sum()

143746

In [121]:
df['perks_claimed'] = df['perks_claimed'].fillna(0)
df['perks_claimed']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
143827    0.0
143828    0.0
143829    0.0
143830    0.0
143831    0.0
Name: perks_claimed, Length: 143832, dtype: float64

In [122]:
df['perks_claimed'].isnull().sum()

0

- Fill Null in Column "perk_goal_percentage" with 0

In [123]:
df['perk_goal_percentage'] = df['perk_goal_percentage'].fillna(0)
df['perk_goal_percentage']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
143827    0.0
143828    0.0
143829    0.0
143830    0.0
143831    0.0
Name: perk_goal_percentage, Length: 143832, dtype: float64

In [124]:
df['perks_claimed'].isnull().sum()

0

In [125]:
# Check Missing Value
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143832 entries, 0 to 143831
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   category              143832 non-null  object
 1   close_date            142385 non-null  object
 2   currency              143832 non-null  object
 3   funds_raised_amount   143832 non-null  int64
 4   funds_raised_percent  143832 non-null  float64
 5   is_indemand           143832 non-null  bool
 6   is_pre_launch         143832 non-null  bool
 7   open_date             142364 non-null  object
 8   perk_goal_percentage  143832 non-null  float64
 9   perks_claimed         143832 non-null  float64
 10  product_stage         143832 non-null  object
 11  project_id            143832 non-null  int64
 12  project_type          143832 non-null  object
 13  tagline               143781 non-null  object
 14  tags                  143260 non-null  object
 15  title                 143811 non-null  object
 16  is_proven             143832 non-null  bool
dtypes: bool(3), float64(3), int64(2), object(9)
memory usage: 16.9+ MB

In [126]:
df['close_date'].isnull().sum()

1447

## 4.7 Drop Null Row

In [127]:
df = df.dropna()

In [128]:
# Check Missing Value
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142246 entries, 0 to 143831
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   category              142246 non-null  object
 1   close_date            142246 non-null  object
 2   currency              142246 non-null  object
 3   funds_raised_amount   142246 non-null  int64
 4   funds_raised_percent  142246 non-null  float64
 5   is_indemand           142246 non-null  bool
 6   is_pre_launch         142246 non-null  bool
 7   open_date             142246 non-null  object
 8   perk_goal_percentage  142246 non-null  float64
 9   perks_claimed         142246 non-null  float64
 10  product_stage         142246 non-null  object
 11  project_id            142246 non-null  int64
 12  project_type          142246 non-null  object
 13  tagline               142246 non-null  object
 14  tags                  142246 non-null  object
 15  title                 142246 non-null  object
 16  is_proven             142246 non-null  bool
dtypes: bool(3), float64(3), int64(2), object(9)
memory usage: 16.7+ MB

In [129]:
# Check for duplicates based on the specified column
duplicates = df.duplicated(subset='project_id', keep=False)

# Print the rows that are duplicates
print(df[duplicates])

                       category               close_date currency  \
0       Podcasts, Blogs & Vlogs  2017-05-01 06:59:59 UTC      AUD
2                  Productivity  2019-05-15 06:59:59 UTC      EUR
3                   Photography  2015-08-31 06:59:59 UTC      GBP
5                      Wellness  2014-04-05 06:59:59 UTC      USD
8              Health & Fitness  2017-01-15 07:59:59 UTC      USD
...                         ...                      ...      ...
143827             Productivity  2022-11-19 07:59:59 UTC      USD
143828     Phones & Accessories  2022-12-23 07:59:59 UTC      HKD
143829     Phones & Accessories  2021-06-22 06:59:59 UTC      USD
143830                     Home  2022-11-24 07:59:59 UTC      USD
143831         Health & Fitness  2021-12-07 07:59:59 UTC      USD

        funds_raised_amount  funds_raised_percent  is_indemand  is_pre_launch  \
0                        75              0.075000        False          False
2                    203788             24.957000         True          False
3                        25              0.027778        False          False
5                       305              0.549550        False          False
8                   3995835             21.008400        False          False
...                     ...                   ...          ...            ...
143827               156952             98.086667         True          False
143828               691050             34.552500        False          False
143829               446750             20.204758         True          False
143830               455072             41.470300         True          False
143831               906358             14.716050         True          False

                      open_date  perk_goal_percentage  perks_claimed  \
0       2017-03-31 21:53:38 UTC                   0.0            0.0
2       2019-05-14 06:59:59 UTC                   0.0            0.0
3       2015-08-02 23:39:33 UTC                   0.0            0.0
5       2014-03-05 20:39:02 UTC                   0.0            0.0
8       2016-11-15 09:02:19 UTC                   0.0            0.0
...                         ...                   ...            ...
143827  2022-11-18 07:59:59 UTC                   0.0            0.0
143828  2022-11-22 08:00:00 UTC                   0.0            0.0
143829  2021-06-21 06:59:59 UTC                   0.0            0.0
143830  2022-11-23 07:59:59 UTC                   0.0            0.0
143831  2021-10-18 07:00:00 UTC                   0.0            0.0

       product_stage  project_id project_type  \
0        Non Specify     2077214     campaign
2        Non Specify     2501412     campaign
3        Non Specify     1380274     campaign
5        Non Specify      704128     campaign
8           shipping     1919607     campaign
...              ...         ...          ...
143827    production     2686587     campaign
143828    production     2791888     campaign
143829     prototype     2685949     campaign
143830   Non Specify     2793011     campaign
143831      shipping     2687321     campaign

                                                  tagline  \
0       This is your chance to help make Bricking Arou...
2       The most sharp and durable Damascus knife seri...
3       Opportunity to learn all Nick has learned in h...
5       Please help me to celebrate and pray with the ...
8       "I feel fantastic" Train hard for fitness or e...
...                                                   ...
143827  Effortless eye contact | Amazing image quality...
143828  Max 67W Output| 3 USB-C Ports | Ultra-Tiny | R...
143829  Tstand 2 holds ALL devices: iPhone, Switch, iP...
143830  Sleep better with the only pure graphene blank...
143831  Dual Red Light Therapy | Portable | Whole Knee...

                                                     tags  \
0                                             ["youtube"]
2                             ["food","knives","kitchen"]
3                                               ["other"]
5                                               ["other"]
8                         ["sports","software","e-bikes"]
...                                                   ...
143827                            ["computers","laptops"]
143828                                  ["chargers","pc"]
143829  ["design","iphone","smart phones","other","lap...
143830     ["sleep","beds","pillows","design","clothing"]
143831                       ["design","sports","hiking"]

                                                    title  is_proven
0                                 Support Bricking Around      False
2                     Germanicum Arminius Damascus knives      False
3           Photography Editorial Course With Nick Knight      False
5                    Oh, to Pray with the Grandmothers!!!      False
8                BionicGym Workout in a box! Now shipping      False
...                                                   ...        ...
143827             iContact Camera for better video calls      False
143828  SHARGEEK: The First 67W Charger With Power Dis...      False
143829  TSTAND2 iPad & Everything Stand Works Everywhere!      False
143830       HILU: Natural Thermoregulating Sleep Blanket      False
143831        Move Plus: Reduce Knee Pain In Just One Use      False

[112488 rows x 17 columns]

In [130]:
# Drop duplicates based on the 'ID' column
df = df.drop_duplicates(subset='project_id', keep="last")

In [131]:
# Check for duplicates based on the specified column
duplicates = df.duplicated(subset='project_id', keep=False)

# Print the rows that are duplicates
print(df[duplicates])

Empty DataFrame
Columns: [category, close_date, currency, funds_raised_amount, funds_raised_percent, is_indemand, is_pre_launch, open_date, perk_goal_percentage, perks_claimed, product_stage, project_id, project_type, tagline, tags, title, is_proven]
Index: []

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65487 entries, 1 to 143831
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   category              65487 non-null  object
 1   close_date            65487 non-null  object
 2   currency              65487 non-null  object
 3   funds_raised_amount   65487 non-null  int64
 4   funds_raised_percent  65487 non-null  float64
 5   is_indemand           65487 non-null  bool
 6   is_pre_launch         65487 non-null  bool
 7   open_date             65487 non-null  object
 8   perk_goal_percentage  65487 non-null  float64
 9   perks_claimed         65487 non-null  float64
 10  product_stage         65487 non-null  object
 11  project_id            65487 non-null  int64
 12  project_type          65487 non-null  object
 13  tagline               65487 non-null  object
 14  tags                  65487 non-null  object
 15  title                 65487 non-null  object
 16  is_proven             65487 non-null  bool
dtypes: bool(3), float64(3), int64(2), object(9)
memory usage: 7.7+ MB

In [133]:
df.to_csv('Cleaned_data.csv', index=False)